<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    <hr>
    <!-- <button class="btn btn-success" (click)="filterRecipes('veg')">List Veg</button>
        <button class="btn btn-success" (click)="filterRecipes('Non-veg')">List Non-veg</button> -->
    <label for="filter">Filter Recipes</label>
    <select (change)="filteritems($event.target.value)">
      <option value="Select">Select</option>
      <option *ngFor="let recipe of recipes" [value]="recipe.category">{{ recipe.category }} </option>
    </select>

  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipeEl of recipes; let i = index" [recipe]="recipeEl" [index]="i"></app-recipe-item>
  </div>
</div>